*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
.header{
    width: 100%;
    background-image: url(../images7/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
.menu h4{
    font-size: 20px;
    color: blue;
    float: left;
    padding-left: 60px;
    padding-top: 20px;

}
.menu ul li {
    display: inline-block;
    float: right;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.title h1{
    padding-top: 100px;
    padding-left: 60px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}
.title p{
    padding-left: 60px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.body {
   margin: 20px 20px;
}

   
.container1{
    padding: 50px 50px;
    margin: 20px 50px;
}
.container1 .left{
    width: 50%;
    float: left;
}
.container1 button{
    width: 30%;
    background-color: skyblue;
    height: 30px;
    border-radius: 20px 20px;
    color: whitesmoke;
    
}
.container1 .right{
    width: 50%;
    float: right;
}
.container1 .right img{
    max-width: 50%;
    margin-left: 100px;
    border: 3px solid whitesmoke;
    box-shadow: 10px 10px gray;
}
.container2{
    width: 80%;
    background-color: whitesmoke;
    padding: 50px 50px;
    margin: 20px 50px;
    height: 400px ;
}
.container2 h2{
    text-align: center;
    font-size: 30px;
    color: skyblue;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 70px;
}
.left1{
    width: 32%;
    float: left;
}

.mid1{
    width: 32%;
    float: left;
    padding: 0 40px;
}
.right1{
    width: 32%;
    float: left;
    padding: 0 40px;
}
.container3{
    width: 80%;
    background-color: whitesmoke;
    padding: 50px 50px;
    margin: 20px 50px;
    height: 300px;
}
.container3 h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: skyblue;
}
.container3 .card-left{
    width: 30%;
    float: left;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid gray;
    margin-left: 40px;

}
.card-left h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}
.container3 .card-mid{
    width: 30%;
    float: left;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid gray;
    padding-left: 20px;
}
.card-mid h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.container3 .card-right{
    width: 30%;
    float: left;
    padding: 20px 20px;
    text-align: center;
    border: 2px solid gray;
}
.card-right h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}