p {
    color: rosybrown;
    text-indent: 500px;
    text-align: center;
    text-decoration: underline;
}
div {
    width: 500px;
    height: 300px;
    background-color: seagreen;
    color: sienna;
    text-align: center;
    text-indent: 50px;
}
.ice2017a {
    color: skyblue;

}
.ice2018a {
    color: slateblue;
}
#lucky {
    color: springgreen;
    font: italic;
    font-family: 'tahoma';
    font-weight: bold;
    font-style: italic;
    font-size: 50px;

}
#ngu {
    color: teal;
    
}
#mydiv > p {
    color: tomato;
}
body{
    background-image: url(../images3/sao.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    

}
a {
    text-decoration: none;
}
p{
    display: inline-block;
}
span{
    display: block;
    width: 500px;
}
p:hover {
    color: lightcoral;

}
div{
    width: 200px;
    height: 300px;
    background-color: lightseagreen;

}
div:hover span{
    color: lime;
}
