*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0px auto;
    background-color: gray;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.box-header-top .box{
    float: left;
    width: 25%;
}
.box-header-top .box-2{
    width: 50%;
}
