body{
    margin: 0;
    padding: 0;

}
ul, ol{
    list-style: none;
}
ul, li{
    padding-left: 50px;
    margin: 20px ;
}
.left{
    float: left;
    width: 23%;
    border: 3px solid gray;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right{
    float: left;
    width: 50%;
    border: 3px solid gray;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn{
    color: white;
    background-color: red;
    
}
